<div id="warning" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">&iquest;Deseas Eliminar el Registro&quest;</h3>
      </div>
      <div class="modal-body">
        <p>Una vez eliminado no se prodr&aacute; recuperar.</p>
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-danger" ng-click="delete()">Si</a>
        <a href="" data-dismiss="modal" class="btn btn-default">No</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="breadcrumb">
      <li><a href="#/home">Productos</a></li>
      <li class="active">{{item.id}}</li>
    </ul>
  </div>
</div>

<div class="row ng-cloak" ng-show="success">
  <div class="col-12">
    <div class="alert alert-success">
      El registro ah sido actualizado exitosamente.
    </div>
  </div>
</div>

<div class="row ng-cloak" ng-show="failure">
  <div class="col-12">
    <div class="alert alert-danger">
      Hubo un error al procesar el cambio.
    </div>
  </div>
</div>

<div ng-include src="'views/form.html'"></div>
