<div class="row">
  <div class="col-12">
    <ul class="breadcrumb">
      <li><a href="#">Productos</a></li>
    </ul>
  </div>
</div>

<div class="row ng-cloak" ng-show="success">
  <div class="col-12">
    <div class="alert alert-success">
      Los cambios se procesaron correctamente.
    </div>
  </div>
</div>

<div class="row ng-cloak">
  <div class="col-12">
    <a href="#/new" class="btn btn-default">Nuevo</a>
    <div ng-show="data.length > 0">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th class="hidden-sm">Id</th>
          <th>Descripci&oacute;n</th>
          <th>Costo</th>
          <th>Inventario</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in data">
          <td class="hidden-sm"><a href="#/edit/{{d.id}}">{{d.id}}</a></td>
          <td>
            <span class="hidden-sm">{{d.description}}</span>
            <span class="visible-sm"><a href="#/edit/{{d.id}}">{{d.description}}</a></span>
          </td>
          <td>{{d.price | currency}}</td>
          <td>{{d.quantity}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
